<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>おかずカテゴリー編集</h2>
      </div>
      <div class="text-center m-5" style="background-color: #fff; padding-top: 5px;">
        <div>
          <%= form_with model: @genre, url: admin_genre_dish_path do |f| %>
            <%= f.label :name ,"ジャンル名" %>
            <%= f.text_field :name ,:placeholder => "ジャンル名" %>
            <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>