<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>弁当コック</h2>
      </div>
      <p>わが社は、おいしい弁当を作っています</p>

    </div>
  </div>
</div>