<div class="container p-5">
  <div class="row text-center">
    <div class="col-12">
      
      <div class="title-body">
        <h2>確認画面</h2>
      </div>
      
      <div class="p-5">
        <p>従業員専用ページに移行します</p>
        <p>よろしいですか？</p>
        <%= link_to "従業員はこちら", new_admin_session_path, class: "btn btn-sm btn-danger m-3"%>
        <%= link_to "お客様はこちら", root_path, class: "btn btn-sm btn-primary m-3"%>
      </div>
    </div>
  </div>
</div>