.main{
  min-height: 100vh;
  position: relative;
  padding-bottom: 90px;
  box-sizing: border-box;
}
header{
  font-family: 'Hina Mincho', serif;
}

.body-color{
  background-color: #e6f5ff;
}

footer{
  position: absolute;
  bottom: 0;
  background-color: #000080;
  height: 90px;
  width: 100%;
}

.title-body{
  font-family: 'Hina Mincho', serif;
  background-color: #3e62ad;
  padding: 5px;
  color: white;
}

.container{
  background-color: #fff;
  margin: 30px;
}

.container-xxl{
  background-color: #f8f8ff;
  margin: 30px;
}

ul {
  list-style: none;
}

th {
  background-color: #3e62ad;
  color: white;
}

table{
  background-color: #fff;
}

.pagination {
  justify-content: center;
}

.max-box{
  width: 100%;
}

.image-box{
	height: 300px;
	object-fit: cover;
}

.card {
  max-width: 100%;
}

.max-width{
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  .mobile-blocky tr,
  .mobile-blocky th,
  .mobile-blocky td {
    display: block; /* セルを縦に */
    border: none; /* 線をリセット */
  }
  /* 以下で線を再設定 */
  .mobile-blocky {
    border-top: none;
  }
  .mobile-blocky th {
    border-top: solid 2px #a5d1f1;
  }
  .mobile-blocky td {
    border-top: dashed 1px #a5d1f1;
  }
}